* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100dvh;
    font-family: monospace ;
    padding-top: 3rem;
}

.svg-sprite{
    display: none ;
}

use {
    user-select: none;
}

/* start modal styles */


.modal-box {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin-inline: auto;
    width: fit-content;
    height: fit-content;
    border: 1px solid darkgray;
    border-radius: 1rem;
    text-align: center;
    padding: 20px;
    transition: all 0.5s;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
}

#input{
    border-radius: 0.5rem;
    border: 1px solid darkgray;
    padding-inline: 1rem;
    padding-block: 0.5rem;
}

.modal__addtodo-btn{
    background-color: darkturquoise;
    color: white;
    border-radius: 1rem ;
    text-align: center;
    padding-inline: 0.5rem ;
    font-size: 1.25rem;    
    border: 1px white solid;
    cursor: pointer;
}

#close {
    position: absolute;
    bottom: -25%;
    right: 1%;
    color: gray;
    cursor: pointer;
    width: 1.5rem;
}


.active-modal {
    transform: translateY(100px);
    opacity: 1;
    visibility: visible;
}


/*finish modal styles */

/* start boxes */
.container {
    width: 40rem;
    margin-inline: auto;
}

.hide-main {
    filter: blur(1.7px);
    pointer-events: none;
}

.box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}


.column {
    padding: 0.5rem;
    border: 1px solid darkgray;
    border-radius: 1rem;
    max-width: 200px;
    min-width: 150px;
    height: auto;
    display: flex;
    flex-direction: column;
}

h2 {
    background-color: darkturquoise;
    color: white;
    border-radius: 1rem ;
    text-align: center;
    padding-block: 0.5rem ;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.box-container__addtodo-btn{
    color: gray;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

.todos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gainsboro;
    height: 2rem;
    margin-bottom: 1rem;
    padding-inline: 0.5rem;
    border-radius: 0.5rem;
}

.todo-text {
    max-width: 6rem;
    font-size: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.todo__delete-btn {
    height: 1rem;
    width: 1rem;
    color: red;
    cursor: pointer;
}

/* finish boxes */

/* start responsive */

@media screen and (min-width: 300px) {
    .container{
        width: 100%;
        min-width: 300px;
        padding-inline: 1rem ;
    }
}

@media screen and (min-width: 600px) {
    .container{
        width: 100%;
        min-width: 550px;
    }
}

@media screen and (min-width: 768px) {
    .container{
        width: 100%;
        min-width: 650px;
    }
}

@media screen and (min-width: 1200px) {
    .container{
        width: 100%;
        min-width: 1000px;
    }
}








/* finish responsive */

