* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100dvh;
    font-family: monospace ;
}

.svg-sprite{
    display: none ;
}

/* start modal styles */


.modal-box {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin-inline: auto;
    width: fit-content;
    height: fit-content;
    border: 1px solid darkgray;
    border-radius: 1rem;
    text-align: center;
    padding: 20px;
    transition: all 0.5s;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
}

#input{
    border-radius: 0.5rem;
    border: 1px solid darkgray;
    padding-inline: 1rem;
    padding-block: 0.5rem;
}

.modal__addtodo-btn{
    background-color: darkturquoise;
    color: white;
    border-radius: 1rem ;
    text-align: center;
    padding-inline: 0.5rem ;
    font-size: 1.25rem;    
    border: 1px white solid;
    cursor: pointer;
}

#close {
    position: absolute;
    bottom: -25%;
    right: 1%;
    color: gray;
    cursor: pointer;
    width: 1.5rem;
}


.active-modal {
    transform: translateY(100px);
    opacity: 1;
    visibility: visible;
}


/*finish modal styles */

/* start boxes */
.container {
    width: 40rem;
    margin-inline: auto;
}

.hide-main {
    filter: blur(1.7px);
    pointer-events: none;
}

.box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.column {
    padding: 0.5rem;
    border: 1px solid darkgray;
    border-radius: 1rem;
    max-width: 200px;
    min-width: 150px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h2 {
    background-color: darkturquoise;
    color: white;
    border-radius: 1rem ;
    text-align: center;
    padding-block: 0.5rem ;
    font-size: 1.25rem;
}

.box-container__addtodo-btn{
    color: gray;
    border-radius: 1rem
}

.todos {
    background-color: rgba(172, 255, 47, 0.603);
    width: inherit;
    height: 30px;
    line-height: 1.6;
    position: relative;
    margin-block: 10px;
}

.todo-text {
    border: 1px solid black;
    width: 125px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: inherit;
}

.closing {
    content: "";
    height: 15px;
    width: 15px;
    background-color: #ff0000a0;
    border-radius: 50%;
    position: absolute;
    right: 3%;
    top: 0;
    bottom: 0;
    margin-block: auto;
    cursor: pointer;
}

/* finish boxes */

/* start responsive */

@media screen and (max-width: 320px) {
    .container{
        width: 100%;
        max-width: 320px;
        padding-inline: 1rem ;
    }
}
@media screen and (max-width: 600px) {
    .container{
        width: 100%;
        max-width: 500px;
    }
}
@media screen and (max-width: 768px) {
    .container{
        width: 100%;
        max-width: 650px;
    }
}
@media screen and (max-width: 1200px) {
    .container{
        width: 100%;
        max-width: 900px;
        padding-inline: 1rem ;
    }
}

/* finish responsive */

